/* reset */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}

/* maintient le footer en bas de page */
.wrapper {
    min-height: 100vh;
    background:transparent;
    margin-bottom: -50px;/* Equal to height of footer */
} /* grace au push*/
.footer,
.push {
    height: 50px;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}
h2 {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}

ul li a:hover {
    color: #c4c6c9;
}

li {
    list-style: none!important;
    padding: 0 1rem;
}

a {
    text-decoration: none;
    color: #333;
}
a:hover {
    color: #c4c6c9;
}

/*** HEADER ***/

header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
}
header ul li a {
    text-decoration: none;
    color: #000;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #fafafa;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% auto;
    width: 80%;
}

main {
    width: 100%;
    margin: 0 auto;
    text-align: justify;
}

mark {
    background-color: #5E6472;
    color: white;
    padding: 5px 15px;
}

/*** HERO ***/

.hero {
    background-image: url('../img/index.jpg');
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px #000;
}

/*** BOUTON ***/

button, .btn {
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    padding: 15px 30px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    width: 200px;
    color: white;
    font-size: 14px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
    }
button:hover, input[type="submit"]:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc!important;
    }
button:active {
    border-top-color: #1b435e;
    background: #1b435e;
    }

button.post {
    position: absolute;
    top: 100px;
    right: 100px;
}
/*** FORMS ***/

form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    padding: 3rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form div {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form select,
form textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;

}

form select {
    width: 100%;
}

form input[type="file"] {
    margin-bottom: 10px;
}

form input[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #3e8e41;
}

/*** NAV ***/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;;
    /* padding: 20px; */
}

/*** BLOG ***/

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0 auto;
    padding: 20px;
}

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    font-weight: 800;
    font-size: 1rem;
}

/*** CARDS ***/

.card {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    background: fafafa;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.card-content {
    padding: 10px;
}

.card-content h2 {
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 10px;
}

.card-content p {
    font-size: 1rem;
    margin: 0;
    margin-bottom: 10px;
}

.card-content a {
    font-size: 1rem;
    color: #007bff;
    text-decoration: none;
}

/**************ARTICLE**************/

.article {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin-bottom: 5rem;
    padding: 3rem;
    background: #fafafa;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.banner {
    width: 100vw;
    height: 300px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}
.article-meta {
    font-family : 'Libre Franklin', sans-serif;
}
.cat {
    color: #009fc6;;
}
/**************MEDIAQUERY**************/

@media (max-width: 767px) {
    
}

@media (max-width: 1020px) {
    /***mobile nav***/
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: transparent!important;
        border: none;
    }

    burgerButton {
    display: block; 
    width: 60px;
    height: 60px;
    color: black;
    font-weight: 600;
    cursor: pointer;
    margin-bottom:5px;
    }
    burgerButton:hover{
    content: '\2261';
    }
    burgerButton:after{
    position: absolute;
    left: 20px;
    top: 3px;
    font-size: 40px;
    }
    nav.open burgerButton:after {
    content: '\00d7';
    }

    nav.close burgerButton:after {
    content: '\2261';
    }
    nav.close ul { 
    display: none; 
    }
    nav.open ul {
        display: flex;
        flex-direction: column;
    }
    nav.open ul li {
        display: block;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid #ddd;
    }
    nav.open ul li:hover {
        background-color: #53c8e8;
    }
    /***end mobile nav***/
}